section .layout-section {
  display: none; }
@media screen and (min-width: 720px) {
  section .layout-section {
    width: 100%;
    display: block;
    position: absolute;
    top: 120px; } }

.container-product-card .card-text {
  font-size: 16px; }

.card {
  width: 375px; }
  @media screen and (max-width: 320px) {
    .card {
      width: 250px; } }
  @media screen and (max-width: 720px) {
    .card {
      width: 300px; } }

.carte {
  height: 300px; }
  .carte img, .carte object {
    width: 375px;
    height: 300px; }
    @media screen and (max-width: 320px) {
      .carte img, .carte object {
        width: 250px; } }
    @media screen and (max-width: 720px) {
      .carte img, .carte object {
        width: 300px; } }

.card-columns .card {
  background-color: transparent; }
  .card-columns .card .card-header {
    border: 0;
    background-color: transparent; }
.card-columns .card-body {
  height: 100px; }

article .offre-title {
  font-size: 40px; }
  @media screen and (max-width: 320px) {
    article .offre-title {
      font-size: 20px; } }
  @media screen and (max-width: 720px) {
    article .offre-title {
      font-size: 30px; } }
article .offre-illustration img {
  width: 50%; }
  @media screen and (max-width: 320px) {
    article .offre-illustration img {
      width: 100%; } }
  @media screen and (max-width: 720px) {
    article .offre-illustration img {
      width: 70%; } }
article .slick-track {
  height: 300px; }
article .offre-description {
  font-size: 20px; }
  @media screen and (max-width: 320px) {
    article .offre-description {
      font-size: 12px; } }
  @media screen and (max-width: 720px) {
    article .offre-description {
      font-size: 16px; } }
article ul {
  list-style: none; }
article ul li::before {
  content: "\2022";
  color: #920606;
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
  width: 1em;
  margin-left: -1em; }

aside .card {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

aside .card:hover {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }

footer {
  background-color: #001534; }
  footer .card {
    background-color: transparent;
    border: 0; }

#banner-tittle {
  height: 300px; }
  @media screen and (max-width: 420px) {
    #banner-tittle {
      height: 400px; } }

.banner-logo object {
  width: 100%; }

.navbar-brand img {
  width: 100px; }

.theme-title {
  font-size: 70px;
  font-weight: bold;
  color: #001534; }
  @media screen and (max-width: 320px) {
    .theme-title {
      font-size: 30px; } }
  @media screen and (max-width: 720px) {
    .theme-title {
      font-size: 40px; } }
  @media screen and (max-width: 1020px) {
    .theme-title {
      font-size: 50px; } }

.theme-description {
  font-family: "DejaVu Sans Mono Oblique","DejaVu Serif Book","FreeSans Regular";
  font-size: 26px;
  color: #001534; }
  @media screen and (max-width: 720px) {
    .theme-description {
      font-size: 16px; } }

html {
  scroll-behavior: smooth; }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: smooth; } }

body nav {
  z-index: 1000;
  background-color: transparent; }
@media screen and (min-width: 720px) {
  body {
    background-image: url("../svgs/layout.svg");
    background-size: cover;
    background-repeat: no-repeat; } }

#webpage {
  display: none;
  opacity: 0; }

/*# sourceMappingURL=main.css.map */
