$smallscreen : "(max-width:320px)";
$mediumscreen : "(max-width:720px)";
$largescreen: "(max-width:1020px)";

    

section{
   .layout-section{
       display: none;
   }
    @media screen and (min-width: 720px) {
       
    .layout-section{
        width: 100%;
        display:block;
        position: absolute;
        top:120px;
    }    
}
    
}
.container-product-card {
    .card-text{
        font-size:16px;
    }
}
.card{
    width: 375px;
    @media screen and #{$smallscreen} {
        width: 250px;
    }
    @media screen and #{$mediumscreen} {
        width: 300px;
    }
}

.carte {
    height: 300px;
    img,object{
    width: 375px;
    height: 300px;
    @media screen and #{$smallscreen} {
        width: 250px;
    }
    @media screen and #{$mediumscreen} {
        width: 300px;
    }
    }
}
.card-columns{
    .card{
        background-color: transparent;
        .card-header{
            border: 0;
            background-color: transparent;
        }
    }
    .card-body{
        height: 100px;
        
    }
}
article{
    .offre-title{
        @media screen and #{$smallscreen} {
            font-size: 20px;
        }
        @media screen and #{$mediumscreen} {
            font-size: 30px;
        }
        font-size: 40px;
        
    }
    .offre-illustration img{
        width: 50%;
    @media screen and #{$smallscreen} {
    width: 100%;
    }
    @media screen and #{$mediumscreen} {
    width: 70%;
    }
    }
    .slick-track{
        height: 300px;
    }
    .offre-description{
        @media screen and #{$smallscreen} {
            font-size: 12px;
        }
        @media screen and #{$mediumscreen} {
            font-size: 16px;
        }
        font-size: 20px;
    }

    ul {
        list-style: none; 
      }
      
      ul li::before {
        content: "\2022";  
        color: rgb(146, 6, 6); 
        font-weight: bold;
        font-size: 30px;
        display: inline-block;
        width: 1em;
        margin-left: -1em; 
      }
}

aside .card{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

aside .card:hover{
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}