@import "section";
@import "footer";
@import "header";
$smallscreen : "(max-width:320px)";
$mediumscreen : "(max-width:720px)";
$largescreen: "(max-width:1020px)";
html{
    scroll-behavior: smooth;
    @media (prefers-reduced-motion:reduce){
    scroll-behavior: smooth;

    }
}
body{
    nav{
        z-index: 1000;
        background-color: transparent;
    }
    @media screen and (min-width: 720px) {
        background: {
        image: url("../svgs/layout.svg");
        size: cover;
        repeat:no-repeat;
        }
    }
    
}

